main {
    position: relative;

    display: flex;
    justify-content:flex-start;
}


/*** Scrollbars ***/
body {
    overflow-y: hidden;
}

aside::-webkit-scrollbar, article::-webkit-scrollbar {
    width: 9px;
    height: 7px;
    background-color: #1e3d59;
  }

::-webkit-scrollbar-thumb {
    background: #c3d4e2; 
    border-radius : 10px ;
}


/*** Menu latéral ***/
main > aside {
    width : 285px ;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0 0 5px 0 ;
    background-color: #1e3d59  
}
/*** version qui suis-je ***/
#menu_lateral_profil {
    text-align: center;
}
aside img {
    border-radius: 5px;
    border: 2px solid #fd8700;
    margin-top: 10px;
}

    /** Navigation **/
    nav {
        width : 100% ;
    }

        /* Liste */
        nav ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        nav ul > li {
            width: 100%;
            box-sizing: border-box;
            padding: 0;
        }

            /* Boutons catégories */
            input {
                display: none;
            }
            nav label{
                width: calc(100% - 15px) ;
                position: relative;
                padding: 20px 5px 20px 25px ;
                margin: 7px;
                display: block;

                font-size: 22px;
                box-sizing: border-box;
                color : #f5f0e1 ;
            }

            nav label:hover {
                background-color: #27547c;
               
            }

                /* version projets */
                    #menu_lateral_projets label::after {
                        content : "▼" ;
                        position: absolute;
                        font-size: 14px;
                        top: 50%;                         
                        transform: translate(0, -50%)   
                    }
                    #menu_lateral_projets input:checked + label {
                        background-color: #2b4f6e;
                    }

                    .boutonactif {
                        font-weight:bold;
                        pointer-events: none;
                        color:#fd8700 !important
                    }

                /* version compétences */
                    #menu_lateral_competences input:checked + label {
                        font-weight:bold;
                        pointer-events: none;
                        color: #fd8700;
                    }

            /* Déroulant - sous-menu */
            .sous {
                display: none;
            }
            .sous button {
                width: calc(100% - 15px) ;
                padding:14px 5px 14px 45px;
                margin: 3px 7px;
                box-sizing: border-box;
                background-color: transparent;
                border: none;
                text-align: left;
                color : #f5f0e1;
                font-size: 18px;

            }

            nav input:checked + label + .sous {
                display: block;
            }

            .sous button:hover {
                background-color: #27547c;
                color : #f5f0e1
            }

    /** Quand trop petit **/
    #btn_bandeau, #bandeau {
        display: none;
    }
    #bandeau {
        position: absolute;
        z-index: 3;
        height: 100%;
        background-color :#1e3d59;
        width: fit-content;
        color : #f5f0e1 ;

        border-right : 2px solid #fd8700 ;
        box-sizing: border-box;
    }
    #bandeau:hover {
        color : #fd8700
    }

    #bandeau i {
        transition: all 100ms ease-in;
        width: 13px;
        padding: 8px;
        position: relative;
        top : 50% ;
        transform: translate(0,-50%);
    }

@media screen and (width < 800px) {



    main aside {
        width: 0;
        display: none;
    }

    #bandeau {
        display: block;
    }

    #btn_bandeau:checked ~ label {
        position: absolute;
        left : 285px ;
    }
    #btn_bandeau:checked ~ label i {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);

    }


    #btn_bandeau:checked + aside {
        position: absolute;
        z-index: 3;
        width : 285px ;
        display: block;
    }

}
