
main {
    position: relative;
    display: flex;

}

aside {
    width: 500px;
    height:calc(100vh - 94px) ;
    background-color: #ff6e40;

}

#grid-container {
    width: 100%;
    height: calc(100vh - 94px);
    display: flex ;
    flex-wrap:wrap;
}


#grid-container div:first-child {
    background-color: #1e3d59;
    width: 100%;

}
#grid-container div:nth-child(2) {
    background-color: #316da1;
    width: 50%;

}
#grid-container div:last-child {
    background-color: #4b8ec8;
    width: 50%;

}

