/*** Scrollbars ***/

body::-webkit-scrollbar {
    width: 9px;
    height: 7px;
    background-color: #1e3d59;
  }

::-webkit-scrollbar-thumb {
    background: #c3d4e2; 
    border-radius : 10px ;
}


main {

    width: 100%;
    height: fit-content;

    padding-top: 15px;

    color : #f5f0e1 ; 

    text-align: center;

}

h2 {
    font-size: 50px;

}
strong {
    color : #1e3d59
}

/* --- Formulaire ---*/
form {
    display: flex;
    flex-direction: column;         /* Verticalement */
    justify-content: space-around;  /* Répartition des éléments sur toute la hauteur */
    align-items: flex-start;        /* Position à gauche du formulaire */

    max-width: 800px;

    margin : 0 auto;                /* Centrer le formulaire dans le main */
    padding: 10px 20px 10px 20px;
}

/* Différentes lignes du formulaire */
form div {
    width: 90%;
    text-align: left;
    padding: 20px 4px 20px 4px;
}


/* Ligne :  Prénom Nom */
form div:first-of-type{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;

    gap : 40px
}

/* Champs de texte */
.champ {
    width : 250px ;
    height: 40px;
}

form #mail {
    width : 500px ;
}

/* Zone de texte */
textarea {
    width : 80%;

    resize: none;   /* Empeche l'utlisateur de redimentionner la zone de texte */
    margin-top: 20px;

}

.champ, textarea {
    border: none;
    border-bottom: 1px solid white;

    font-size: 24px;
    color : white ;
    background-color:transparent ;
}


/* Checkbox */
.check {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* Bouton d'envoi */
#envoi {
    display: none;
    font-family: Arial, Helvetica, sans-serif;}

#btnenvoi {

    width : 150px ;
    height : 60px ;

    border: none;
    border-radius: 5px;
   
    font-size : 20px ;
    color: #f5f0e1;
    background-color: #1e3d59;
}
#btnenvoi:hover {
    color : #fd8700    /* Lors du survol */
}

/*------------- FOOTER -------------*/
footer{
    position: relative;


    display: flex;
    flex-direction: column; /* Verticalement  (Informations et Bandeau) */

    box-sizing: border-box;
    width: 100%;
    padding: 40px 0 40px 15vw;


    background-color: #f5f0e1;
    font-size : 20px ;
    color : #1e3d59
 }
 
 /* Bloc d'informations */
footer div {
    height: fit-content;
    width: fit-content;

    padding: 5px;
    margin : 12px 0 ;

    font-family: Arial, Helvetica, sans-serif;
 }
 footer div:hover {
    color : #fd8700 ;
 }

 #lastdiv {
    text-align: right;
    padding : 15px 20px ;
    color : #1e3d59 ;
    font-size: 14px;

    font-family: Arial, Helvetica, sans-serif;
 }
 


 


 