/* Titre et Menu de navigation */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color:#fd8700 ;
    background: linear-gradient( to top right, #fd8700, #ffc37f) ;

   

       /* background: linear-gradient( to bottom left, #fd8700 20%,#ffac40 20% 40%,  #ffc13b 40% 60%, #ecd9b6 60% 80%, #f5f0e1 75%) ;
    
       /* background: 
                    linear-gradient(30deg, #133754 21%,rgba(22, 69, 110, 0.9) 21% 30% , rgba(23, 84, 136,0.8) 30% 50%, rgb(38, 103, 159) 50% ) ,
                    linear-gradient(150deg, rgba(12, 69, 119, 0.88) 25%,rgba(50, 97, 143, 0.8) 25% 49%, rgba(9, 53, 97,1) 49% ),
                    repeating-linear-gradient(78deg, black 0 13%, white 13% 100%)
        ;
             
        
    
        /* background:  
        conic-gradient(at 50% 0%, white, #77b0e1, #3f89cb, #295881 , #1e3d59 ); */
        background-attachment: fixed;
        background-size: cover;
}

main {
    height: calc(100% - 90px); 
}
header {
    position: relative;
    background-color: #1e3d59;
    border-bottom: 2px solid #fd8700;
}
header h1 {
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
    font-variant-caps: small-caps;
    font-size: 25px;
    font-family: 'Times New Roman';
    margin: 0;
    background-color: #1e3d59;
    color :#f5f0e1 ;
}
header h1 a {
    text-decoration: none;
    color :#f5f0e1 ;
}
header h1 a:hover {
    position: relative;
    border-bottom: 1px solid #fd8700;
    color : #fd8700 ;
}
header img {
    width:40% ;
    height :40%
}
#toggle {
display: none;
}

/**
Hamburger
**/
.hamburger {
position: absolute;
top : 50% ;
transform: translate(0, -50%) ;
right: 2em;
width: 2em;

z-index: 5;
}
.hamburger:hover > div {
    background-color: #fd8700;
}

.hamburger div {
position: relative;
width: 3em;
height: 7px;
border-radius: 3px;
background-color: #f5f0e1;
margin-top: 8px;
transition-property: background-color, transform, opacity, margin-top ;
transition-duration: 0s, 0.3s,0.3s,0.3s;
transition-timing-function: ease-in-out;
transition-delay: 0s;
}
.hamburger div:first-child {
    margin: 0;
}
/**
Nav Styles
**/
.nav {
position: absolute;
overflow: hidden;
text-align: center;
width: 100%;
height: 0%;
display: flex;
flex-direction: column;
justify-content: center;
background-color: rgba(30, 61, 89);
top: 0; left: 0; right: 0; bottom: 0;
overflow: hidden;
transition: all 0.3s ease-in-out;
z-index: 4;

}
.nav-wrapper {
position: relative;
overflow: hidden;
height: 80vh;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap : 2vw 30vw ;
flex-wrap: wrap;
}


.nav-wrapper img {
    width : 15vw ;
    height : 15vw ; 
}

.nav-wrapper a {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    
position: relative;
text-decoration: none;
color: #f5f0e1;
width: 15vw;
font-size: 3vw;
white-space: nowrap;

}

.nav-wrapper a:hover {
    color : #fd8700
}

#linkpage {
    pointer-events: none ;
    color : #fd8700
}


/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
transform: rotate(-45deg);
margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
opacity: 0;
transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
transform: rotate(45deg);
margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
height: 100vh;
}

@media screen and (width < 800px) {

    .nav-wrapper a {
        font-size: 5vw;
    }
    .nav-wrapper img {
        width: 30vw;
        height : 30vw
    }
}